body {
    font-family: Arial, 'Microsoft JhengHei', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
}

.col0 {
    flex: none;
    background-color: #77b84770;
    padding: 45px;
  width:550px;
}

.col1 {
    flex: none;
    padding: 50px;
    background-color: beige;
    width:140px;
}

.col1 img {
    width: 45px;
    position: relative;
    top: 155px;
    left: 12px;
    margin: 5px;
    border-radius: 10px;
}

div {
    /*border: 1px solid black;*/
}

.c {
    width: 200px;
    height: 18px;
    background-color: blanchedalmond;
    position: relative;
    padding: 3px;
    margin: 10px;
}

.c>div {
    height: 18px;
    background-color: wheat;
    width: 0;
}
span{
    position: absolute;
    top: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.chart{
    margin-left: 50px;
    margin-right:100px;
}
.school{
    
}
.mainbao{
    width: 882.86px;
    margin: 0 auto;
}
ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ul{
  list-style: none;
}