body {
    font-family: Arial, 'Microsoft JhengHei', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
}

.col0 {
    flex: none;
    background-color: #77b84770;
    padding: 45px;
}

.col1 {
    flex: none;
    padding: 50px;
    background-color: beige;
}

.col1 img {
    width: 45px;
    position: relative;
    top: 155px;
    left: 12px;
    margin: 5px;
    border-radius: 10px;;
}

div {
    /* border: 1px solid; */
}

.c {
    width: 200px;
    height: 18px;
    background-color: blanchedalmond;
    position: relative;
    padding: 3px;
    margin: 10px;
}

.c>div {
    height: 18px;
    background-color: wheat;
    width: 0;
}
span{
    position: absolute;
    top: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.chart{
    margin-right: 200px;
    flex:auto;
}
.comtainer1{
    flex:auto;
    margin: 0 5px;
}
.mainbao{
    width: 882.86px;
    margin: 0 auto;
}